@charset "UTF-8";
/*==============
=====GLOBAL=====
==============*/
body, html {
  height: 100%;
  font-family: "Montserrat", helvetica, arial; }

@font-face {
  font-family: 'portfolio-fonts';
  src: url("../font/portfolio-fonts.eot?22138306");
  src: url("../font/portfolio-fonts.eot?22138306#iefix") format("embedded-opentype"), url("../font/portfolio-fonts.woff2?22138306") format("woff2"), url("../font/portfolio-fonts.woff?22138306") format("woff"), url("../font/portfolio-fonts.ttf?22138306") format("truetype"), url("../font/portfolio-fonts.svg?22138306#portfolio-fonts") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'portfolio-fonts';
    src: url('../font/portfolio-fonts.svg?22138306#portfolio-fonts') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "portfolio-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-down-big:before {
  content: '\e800'; }

/* '' */
.icon-github-circled:before {
  content: '\f09b'; }

/* '' */
.icon-linkedin:before {
  content: '\f0e1'; }

/* '' */
.icon-free-code-camp:before {
  content: '\f2c5'; }

/* '' */
/*==============
=====NAVBAR=====
==============*/
.main-navbar {
  position: fixed;
  top: 0;
  background-color: white;
  color: #46657a;
  border-bottom: 1px solid #46657a;
  z-index: 1;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-logo {
  margin-left: 4vw;
  font-weight: 900;
  font-size: 0.9rem; }

.navbar-links {
  margin-right: 2vw; }
  .navbar-links a {
    text-transform: uppercase;
    padding: 0 1vw;
    color: #46657a;
    font-weight: 800;
    font-size: 0.7rem; }

@media screen and (min-width: 600px) {
  .navbar-logo {
    font-size: 1.3rem; }
  .navbar-links a {
    font-size: 1rem; } }

/*==============
=====HEADER=====
==============*/
.main-header {
  position: relative;
  background: url(../img/triangles.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 90vh; }

.header-wrapper {
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  /* Standard syntax (must be last) */ }

/*==============
=====CONTENT=====
==============*/
.main-content {
  color: #46657a;
  position: relative;
  bottom: 18%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(70, 101, 122, 0.1));
  /* Standard syntax (must be last) */
  text-align: center; }
  .main-content h1 {
    font-weight: 900;
    font-size: 1.75rem; }
  .main-content h2 {
    font-weight: 600;
    font-size: 1.65rem; }
  .main-content h3 {
    margin-top: 2rem;
    font-weight: 600; }
  .main-content h4 {
    margin-top: 2rem;
    font-weight: 600; }
  .main-content hr {
    width: 8%;
    border-bottom: 5px solid #46657a; }
  .main-content p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300; }

.icon-down-big {
  margin-top: 0.5rem;
  font-size: 3rem;
  color: #46657a;
  margin-bottom: 1rem; }

.about-section {
  margin-top: 3rem; }

.tech-icons {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 4rem; }
  .tech-icons i {
    margin: 1rem 0.5rem; }

.intermission {
  background: url(../img/triangles.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #46657a;
  border-bottom: 1px solid #46657a;
  height: 35vh;
  margin-bottom: 3rem; }

.img-container {
  border: 1px solid #46657a;
  margin-top: 1rem;
  position: relative;
  width: 100%;
  height: auto; }
  .img-container img {
    display: block;
    width: 100%; }
  .img-container .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #46657a; }

.overlay-text {
  opacity: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }
  .overlay-text p {
    font-size: 1.1rem;
    text-align: left;
    padding: 0 0.4rem; }
  .overlay-text a {
    color: white; }
  .overlay-text h4 {
    margin-top: 0;
    background-color: white;
    color: #46657a; }

.img-container:hover .img-overlay {
  opacity: 0.95; }

.img-container:hover .overlay-text {
  opacity: 1; }

/*==============
=====FOOTER=====
==============*/
.main-footer {
  padding-top: 10rem;
  position: relative;
  bottom: 18%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(70, 101, 122, 0.1), #46657a);
  /* Standard syntax (must be last) */
  color: white; }
  .main-footer h4 {
    margin-top: 2rem; }
  .main-footer .fa-stack {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }
  .main-footer p {
    margin-bottom: 2rem; }

.link-icons {
  font-size: 3rem; }
  .link-icons a {
    color: white; }
  .link-icons a:hover {
    text-decoration: none; }

p.footnote {
  color: white;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.1rem; }
